<div class="container col-4 text-center" id="newUserForm">
    <div class="mt-3">
        <label for="newUserName" class="bold-form-label">Username</label>
        <input type="text" class="form-control" id="newUserName">
        <div style="color: red" class="error-message" id="newUserNameError"></div>
    </div>
    <div class="mt-3">
        <label for="newUserEmail" class="bold-form-label">Email</label>
        <input type="email" class="form-control" id="newUserEmail">
        <div style="color: red" class="error-message" id="newUserEmailError"></div>
    </div>
    <div class="mt-3">
        <label for="newUserPassword" class="bold-form-label">Password</label>
        <input type="password" class="form-control" id="newUserPassword">
        <div style="color: red" class="error-message" id="newUserPasswordError"></div>
    </div>
    <div class="mt-3" id="newUserRoles-div">
        <div style="color: red" class="error-message" id="newUserRolesError"></div>
    </div>
    <button type="submit" id="createNewUser" class="btn btn-success btn-lg mt-3">Add new user</button>
</div>


