<div class="table-responsive mx-auto">
    <table class="table table-striped table-hover">
        <tr>
            <th>ID</th>
            <th>Username</th>
            <th>Email</th>
            <th>Role</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
        <tr th:each="user : ${users}">
            <td th:text="${user.id}">id</td>
            <td th:text="${user.username}">Username</td>
            <td th:text="${user.email}">email</td>
            <td>
                <th:block th:each="role : ${user.getRoles()}">
                    <span th:text="${role.authority.replaceFirst('ROLE_', '')}"></span>
                </th:block>
            </td>


            <td>

                <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                        data-target="#editModal"
                        th:data-bs-target="${'#editModal' + user.id}">
                    Edit
                </button>

            </td>

            <td>
                <a type="button" class="btn btn-sm btn-danger" data-bs-toggle="modal"
                   data-bs-target="#DELETE"
                   th:data-bs-target="'#DELETE' + ${user.id}">Delete</a>
            </td>


            <div class="modal fade" th:id="${'editModal'+ user.id}"
                 aria-labelledby="editModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="editModalLabel">Edit user</h5>
                            <button type="button" class="btn-close"
                                    data-bs-dismiss="modal"
                                    aria-label="Close"></button>

                        </div>
                        <div class="modal-body col-md text-center">
                            <form th:action="@{admin/{id}/edit(id=${user.id})}"
                                  th:object="${user}"
                                  th:method="PUT">

                                <br>
                                <label for="name0"><b>Username</b></label>
                                <input th:name="username" th:type="text"
                                       class="form-control" id="name0"
                                       th:value="${user.username}"/>
                                <br>
                                <label for="email0"><b>Email</b></label>
                                <input th:name="email" th:type="text"
                                       class="form-control" id="email0"
                                       th:value="${user.email}"/>
                                <br>
                                <label for="password0"><b>Password</b></label>
                                <input th:name="password" type="text"
                                       class="form-control" id="password0"
                                       th:value="${user.password}"/>
                                <br>
                                <label for="roles"><b>Role</b></label>
                                <select multiple class="form-control" th:size="${allRoles.size()}" id="roles" name="roles" th:field="*{roles}">
                                    <option th:each="role: ${allRoles}"
                                            th:selected="${role.authority == 'ROLE_USER'}"
                                            th:text="${role.authority.replaceFirst('ROLE_', '')}"
                                            th:value="${role.id}"></option>
                                </select>
                                <br><br>
                                <div class="modal-footer">
                                    <button type="submit" class="btn btn-primary">
                                        Edit
                                    </button>
                                    <button type="button" class="btn btn-secondary"
                                            data-bs-dismiss="modal">Close
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>


            <div class="modal fade" th:id="'DELETE' + ${user.id}"
                 aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Delete
                                user</h5>
                            <button type="button" class="btn-close"
                                    data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                        </div>
                        <form class="modal-body col-md text-center"
                              th:action="@{admin/{id}/delete(id=${user.id})}"
                              th:method="DELETE">
                            <div class="modal-body col-md">
                                <label for="id"><b>ID</b></label>
                                <input th:name="id" th:type="text" class="form-control"
                                       id="id" th:value="${user.id}" disabled/>
                                <br>
                                <label for="name1"><b>Name</b></label>
                                <input th:name="username" th:type="text"
                                       class="form-control"
                                       id="name1" th:value="${user.username}" disabled/>
                                <br>
                                <label for="email1"><b>Email</b></label>
                                <input th:name="email" th:type="text"
                                       class="form-control"
                                       id="email1" th:value="${user.email}" disabled/>
                                <br>
                            </div>

                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary"
                                        data-bs-dismiss="modal">Close
                                </button>
                                <button type="submit" class="btn btn-danger">Delete
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>


        </tr>
    </table>
</div>