<header class="container-fluid d-flex flex-row align-items-center justify-content-between p-3 bg-dark text-white"
        xmlns:th="https://www.thymeleaf.org" lang="en">
    <div class="fs-4">
        <b th:text="${user.email} "></b> with roles:
        <span th:each="role,status:${user.roles}">
                <span th:text="${role.name.startsWith('ROLE_')?role.name.substring(5):role.name}"></span>
                <span th:if="${!status.last}">,</span>
            </span>
    </div>
    <div> <a class="text-secondary fs-5" th:href="@{/logout}" style="text-decoration: none;">Logout</a></div>
</header>
