<nav class="col-md-2 d-none d-md-block bg-white sidebar">
    <!-- Column Menu -->
    <div class="navigationPanel col-2 h-100">
        <ul class="nav flex-column" style="height: 100vh">
            <!-- Admin Button -->
            <li class="nav-item" style="margin-top: 10px"
                th:if="${#lists.contains(user.roles.![name], 'ROLE_ADMIN')}">
                <a href="#" class="nav-link active" onclick="showAdminTable()">Admin</a>
            </li>
            <!-- User Button -->
            <li class="nav-item" style="margin-top: 10px">
                <a href="#" class="nav-link active" onclick="showUserTable()">User</a>
            </li>
        </ul>
    </div>

</nav>


<!--        <div th:replace="components/roleMenu.html"></div>-->
