<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User page</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="templates/css/main.css">
</head>


<script>
    function showUserTable() {
        document.getElementById("user-container1").style.display = "block";
        document.getElementById("admin-container1").style.display = "none";
    }

    function showAdminTable() {
        document.getElementById("user-container1").style.display = "none";
        document.getElementById("admin-container1").style.display = "block";
    }
</script>


<body>

<!--=======================================ШАПКА САЙТА=============================================-->
<header>
    <div th:replace="components/header.html"></div>
</header>


<div class="container-fluid bg-light">
    <div class="row">
        <!--================================МЕНЮ СЛЕВА========================================-->

        <div th:replace="components/roleMenu.html"></div>


        <!--      ================================СТРАНИЦА USER========================================-->
        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4 bg-light" style="margin-top: 10px;">
            <div id="user-container1" class="user-container" style="display: none;">
                <div th:replace="components/userContainer.html"></div>


                <!--      ================================СТРАНИЦА ADMIN========================================-->
                <div id="admin-container1" class="admin-container" style="display: none;">
                    <div th:replace="components/adminContainer.html"></div>
                </div>
            </div>


        </main>
    </div>
</div>


<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>