<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
</head>
<body>

<div class="popup" th:if="${message}">
    <p th:text="${message}"></p>
</div>


<h2>Пользователи</h2>

<style>
    table {
        border-collapse: separate;
        border-spacing: 25px;
    }
</style>

<table>
    <thead>
    <tr>
        <th>id</th>
        <th>username</th>
        <th>email</th>
        <th>admin</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="user : ${users}">
        <td th:text="${user.id}"></td>
        <td th:text="${user.username}"></td>
        <td th:text="${user.email}"></td>

        <td>
            <input type="checkbox" th:checked="${user.roles.?[name == 'ROLE_ADMIN'].size() > 0}" disabled="disabled">
        </td>


        <td><a th:href="@{/admin/edit/{id}(id=${user.id})}">изменить</a>
        <td><a th:href="@{/admin/delete/{id}(id=${user.id})}">удалить</a>

    </tr>
    </tbody>
</table>


<h3><a th:href="@{/admin/registration}">Добавить</a></h3>
<h4><a href="/">Назад</a></h4>


<br>
<br>
<a th:href="@{/logout}">Выйти из своей учётной записи</a>

</body>
</html>