<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Регистрация</title>
</head>

<body>

<div>
    <form th:method="POST" th:action="@{/registration}" th:object="${newUser}">
        <h2>Регистрация нового пользователя</h2>
        <div>
            <input type="text" th:field="*{username}" placeholder="Username" autofocus="true">
<!--            <div th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></div>-->
<!--            <div th:text="${usernameError}"></div>-->
        </div>
        <div>
            <input type="password" th:field="*{password}" placeholder="Password">
        </div>
        <div>
            <input type="email" th:field="*{email}" placeholder="Email">
        </div>

            <p>
                <label>Roles:
                    <input type="checkbox" name="roles"
                           th:each="role : ${allRoles}"
                           th:text="${role.name}"
                           th:value="${role.id}"
                           th:field="*{roles}"
                    />
                </label>
            </p>



        <button type="submit">Зарегистрироваться</button>
    </form>
    <a href="/">Главная</a>
</div>
</body>
</html>