<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" lang="en">
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Admin panel</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
          rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM"
          crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>
<header>
    <div th:replace="layouts/header"></div>
</header>

<div class="container-fluid d-flex flex-row vh-100 p-0">
    <div class="navigationPanel col-2 h-100">
        <div th:replace="layouts/navigationPage :: navigation(currentPage='user')"></div>
    </div>
    <div class="col-10 bg-light p-3">
        <div class="container-fluid">
            <h1>User information-page</h1>
            <div class="container-fluid">
                <div class="row">
                    <div class="col">
                        <div class="tab-content" id="nav-tabContent">
                            <div class="tab-pane fade show active" id="usersTable" role="tabpanel"
                                 aria-labelledby="users-tab">
                                <div class="contentHeader row border border-bottom-0">
                                    <h4 class="m-3">About user</h4>
                                </div>
                                <div class="row border bg-white pb-2">
                                    <div class="table-responsive mx-auto">
                                        <table class="Users table table-striped my-6">
                                            <thead>
                                            <tr>
                                                <th scope="col">ID</th>
                                                <th scope="col">Username</th>
                                                <th scope="col">Email</th>
                                                <th scope="col">Role</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr th:each="userInfo:${user}">
                                                <th class="align-middle" scope="row" th:text="${userInfo.id}"></th>
                                                <td class="align-middle" th:text="${userInfo.username}"></td>
                                                <td class="align-middle" th:text="${userInfo.email}"></td>
                                                <td>
                                                <span th:each="role,status:${user.roles}">
                                <span th:text="${role.name.startsWith('ROLE_')?role.name.substring(5):role.name}"></span>
                                <span th:if="${!status.last}">,</span>
                            </span>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>