<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <title>User Details</title>
</head>
<body>
<h1>Профиль</h1>

<table>
    <tr>
        <th style="text-align: left;">id</th>
        <td style="text-align: left;" th:text="${user.id}"></td>
    </tr>
    <br>
    <tr>
        <th style="text-align: left;">Username</th>
        <td style="text-align: left;" th:text="${user.username}"></td>
    </tr>
    <br>
    <tr>
        <th style="text-align: left;">Email</th>
        <td style="text-align: left;" th:text="${user.email}"></td>
    </tr>
    <br>
</table>


</br>
<h4><a th:if="${#request.isUserInRole('ROLE_ADMIN')}" href="/">Назад</a></h4>

<br>
<br>
<a th:href="@{/logout}">Выйти из своей учётной записи</a>

</body>
</html>